/*rest css*/

*{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
    font-family: 'Montserrat', sans-serif;       
}

ul{
    li{
        list-style: none;
    }
}
a, button{
    cursor: pointer;
}
img, a{
    display: block;
}
a{
    text-decoration: none;
    color: inherit;
}
h2{
    margin-bottom: 10px;
}
.text-center{
    text-align: center;
}


// selected color css

::-moz-selection { /* Code for Firefox */
    color: #ffffff;
    background: $mc;
}

::selection {
    color: #ffffff; 
    background: $mc;
}

/* scrollbar css */

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #025fb3; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $mc; 
}