.resourceBanner{
    height: 400px;
    background: url(../images/banner/1.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    position: relative;
    z-index: 1;
    .container{
        height: 100%;
        text-align: center;
    }
}
.resourceBanner::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.7;
    background: #025e73;
    background: -moz-linear-gradient(-45deg, #025e73 1%, #023859 100%);
    background: -webkit-linear-gradient(-45deg, #025e73 1%,#023859 100%);
    background: linear-gradient(135deg, #025e73 1%,#023859 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#025e73', endColorstr='#023859',GradientType=1 );
    }
.bannerText h2{
    font-size: 50px;
    color: #00adca;
}
.bannerText p{
    color: #fff;
    font-size: 20px;
    
}
.banner{
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.homeBanner{
    height: 500px;
    background: url(../images/banner/2.jpg) no-repeat center bottom;
    z-index: 1;
    position: relative;
    .container{
        height: 100%;
    }
    .bannerText{
        max-width: 540px;
        position: absolute;
        top: 50%;
        left: 0;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        transform: translateY(-50%);
        h5{
            font-size: 16px;
            color: #fff;
            letter-spacing: 2px;
            line-height: 1.6;
            float: left;
            font-weight: 600;
        }
    }
}
.homeBanner::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;    
    background: rgba(0, 0, 0, 0.65);   
    }
.heading{
    font-size: 48px;
    color: #eefdff;
}
.resume[role="baner-resume"]{
    width: 100%;
    float: left;
    margin-top: 40px;
    .downloadResume{
        // border: 2px solid #fff;
        height: 48px;
        line-height: 46px;
        display: inline-block;
        padding: 0 30px;
        color: #fff;
        background: #00adca;
        font-weight: 600;
    }
}
.bannerImg{
    width: 290px;
    position: absolute;
    bottom: 0;
    right: 0;
    img{
        width: 100%;
        display: block;
    }

}