#contactUs
  padding: 40px 0
  .saySomething
    width: 100%
    position: absolute
    bottom: -90px
    left: 0
    background: #fff
    padding: 25px
    -moz-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3)
    -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3)
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3)
    h2
      text-transform: uppercase
      font-size: 20px
      color: $dBlack
      
.getInTouch
  h2
    text-transform: uppercase
    font-size: 20px
    color: $dBlack  
  p
    font-size: 14px
    color: $dBlack
  .address
    margin-left: 30px    
    li
      list-style: none
      position: relative
      padding: 8px 0
      i
        position: absolute
        top: 50%
        left: -25px
        transform: translateY(-50%)
        text-align: center
        color: $mc