#contactUs {
  padding: 80px 0;
  .saySomething {
    width: 100%;
    background: #fff;
    padding: 25px;
    -moz-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
    float: left;
  }
 
}
.getInTouch {
  h2 {
    text-transform: uppercase;
    font-size: 20px;
    color: #3c3c3c;
  }
  p {
    font-size: 16px;
    color: #3c3c3c;
    line-height: 30px;
  }
  .address {
    margin: 20px 0 0;

    li {
      list-style: none;
      position: relative;
      padding: 10px 0 10px 50px;
    }
    li + li {
      margin-top: 15px;
    }
    li i {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      text-align: center;
      background: #7462e1;
      color: #fff;
      height: 40px;
      width: 40px;
      line-height: 40px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
    }
  }
}
@media screen and (max-width: 767px) {
  #contactUs .saySomething {
    position: static;
    margin-top: 10px;
  }
}
