.topFooter
  background: #4a4a4a
  padding: 60px 0 50px
  position: relative
  z-index: 2
  .smallHeading
    font-size: 18px
    color: #f2f2f2
  .socialGroup
    ul
      display: flex
      flex-wrap: wrap
      li
        list-style: none
        width: auto
        flex: 0 0 auto
        -ms-flex: 0 0 auto
        margin-right: 10px
        a
          color: #fff
          i
            font-size: 22px
      li:last-child
        margin-right: 0px
      
  h2
    font-size: 30px
    color: #f2f2f2
  p
    color: #fff
    font-size: 14px  

.topFooter::after
  content: ""
  width: 35%
  height: 100%
  background: #383838
  top: 0
  left: 0
  position: absolute
  z-index: -1
.myInput
  border: 1px solid #ccc
  width: 100%
  font-size: 14px
  height: 40px
.sendTxt
  padding: 0 45px
  background: $mc
  border: none
  font-size: 16px
  color: #fff
  height: 40px
.myInput:focus
  box-shadow: 0 0 10px 0 rgba(0,0,0,.15)
  border: 1px solid #aaa
  outline: none
.textArea
  font-size: 14px
  height: 80px !important
  resize: none
.textArea:focus
  outline: none
  +boxShadow(0 0 10px 0 rgba(0,0,0,.15))  
.textArea:focus
  +boxShadow(0 0 10px 0 rgba(0,0,0,.15))  
  border: 1px solid #aaa 
.form-group
  margin-bottom: 10px
.form-control
  width: 100%
  padding: 10px

.bottomFooter
  background: #2d2d2d
  color: #969595
  padding: 15px 0
.socialGroup
  margin-top: 20px