body{
    margin-top: 57.91px;
}
header{
    background: #00adca;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999999; 
    .logo{
        font-size: 26px;
        color: #ffffff;
        width: 70px;
        img{
            width: 100%;
            
        }
    }
    nav{
        ul{
            display: flex;
            flex-wrap: wrap;
            // justify-content: space-between; 
            li{
                width: auto;
                flex:  0 0 auto;
                -ms-flex:  0 0 auto;
                color: #f2f2f2;                
                a{
                    padding:0 15px; 
                    height: 37px;
                    line-height: 37px;
                    font-weight: 500;
                }
                a:hover{
                    color: $headerTxt;  
                }
            }
        }
    }  
    .hamb{
        display: none;
        color: #ffffff;
    }
}

@media screen and (max-width: 767px){
    header nav {
        position: fixed;
        top: 53px;
        right: -200px;
        width: 200px;
        background: #295975;
        -webkit-transition: all 300ms ease-in-out;
        -moz-transition: all 300ms ease-in-out;
        -ms-transition: all 300ms ease-in-out;
        -o-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
    }
    header .hamb {
        display: block;
        position: fixed;
        top: 16px;
        right: 20px;
    }
    header nav.show {
        right: 0;
    }
    header nav ul {
        width: 100%;
    }
    header nav ul li {
        flex: 0 0 100%;
    }
    header nav ul li a {
        padding: 10px 20px;
    }
}