body{
    margin-top: 57.91px;
}
header{
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999999; 
    background: #fff;
    .logo{
        font-size: 26px;
        color: #ffffff;
        width: 70px;
        img{
            width: 100%;
            
        }
    }
    nav{
        ul{
            display: flex;
            flex-wrap: wrap;           
            li{
                width: auto;
                flex:  0 0 auto;
                -ms-flex:  0 0 auto;
                color: #001d22;                
                a{
                    padding:0 15px; 
                    line-height: 37px;
                    font-weight: 600;
                    color: #110943;
                }
                a:hover{
                    color: #7462e1;  
                }
            }
        }
    }  
    .hamb{
        display: none;
        width: 40px;
        height: 18px;
        span{
            width: 100%;
            height: 2px;
            background: #ffffff;
            display: block;
            margin-bottom: 6px;
            :last-child{
                margin-bottom: 0;
            }
        }
    }
}

@media screen and (max-width: 767px){
    header nav {
        position: fixed;
        top: 58.91px;
        right: -200px;
        width: 200px;
        background: #002c33;
        -webkit-transition: all 300ms ease-in-out;
        -moz-transition: all 300ms ease-in-out;
        -ms-transition: all 300ms ease-in-out;
        -o-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
        height: calc(100vh - 58.91px);
        // @include boxShadow(0, 0 ,5px rgba(0,0,0,.2));
    }
    header .hamb {
        display: block;
        position: fixed;
        top: 16px;
        right: 20px;
    }
    header nav.show {
        right: 0;
    }
    header nav ul {
        width: 100%;
    }
    header nav ul li {
        flex: 0 0 100%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    }
    header nav ul li a {
        padding: 0 20px;
        color: #87b0b7;
        line-height: 42px;
    }
}