header{
    background: #7d7d7d; 
    padding: 10px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 6; 
    .logo{
        font-size: 26px;
        color: #ffffff;
    }
    nav{
        ul{
            display: flex;
            flex-wrap: wrap;
            // justify-content: space-between; 
            li{
                width: auto;
                flex:  0 0 auto;
                -ms-flex:  0 0 auto;
                color: #f2f2f2;                
                a{
                    padding:0 15px; 
                }
                a:hover{
                    color: $headerTxt;  
                }
            }
        }
    }  
}