#intro{
    padding: 100px 0 60px;
    margin-top: -90px;    
    background-size: cover;
    position: relative;
    z-index: 1;
    &:after{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background: rgba(255,255,255,0.2);
        background: -moz-linear-gradient(-45deg, rgba(255,255,255,0.2) 0%, rgba(255,255,255,1) 65%, rgba(255,255,255,1) 100%);
        background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,255,255,0.2)), color-stop(65%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
        background: -webkit-linear-gradient(-45deg, rgba(255,255,255,0.2) 0%, rgba(255,255,255,1) 65%, rgba(255,255,255,1) 100%);
        background: -o-linear-gradient(-45deg, rgba(255,255,255,0.2) 0%, rgba(255,255,255,1) 65%, rgba(255,255,255,1) 100%);
        background: -ms-linear-gradient(-45deg, rgba(255,255,255,0.2) 0%, rgba(255,255,255,1) 65%, rgba(255,255,255,1) 100%);
        background: linear-gradient(135deg, rgba(255,255,255,0.2) 0%, rgba(255,255,255,1) 65%, rgba(255,255,255,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
    }
    .profileImg{
        width: 300px;
        float: right;
        margin: 0 0 30px 30px;
        img{
            width: 100%; 
            -webkit-filter: grayscale(100%); 
            filter: grayscale(100%);
        }
    }
    .myDetail{
        h5{
            margin-bottom: 20px;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: #666;
            font-size: 18px;
            line-height: 26px;
        }
        p{
            font-size: 14px;
            text-align: justify;
            line-height: 27px;
            &+p{
                margin-top: 10px;
            }
                
        }
    }
}