.resourceDtls{
    padding: 60px 0;
}
.heading{
    width: 100%;
    float: left;
    h2{
        font-size: 34px;
        text-align: center;
        position: relative;
        color: #025e73;
        padding-bottom: 20px;
        margin-bottom: 30px;
        &::after{
            content: "";
            width: 200px;
            height: 2px;
            position: absolute;
            bottom: 0px;
            left: 50%;
            transform: translate(-50%, 0);
            background: #025e73;
        }
    }
}
.applications{
    h3{
        font-size: 26px;
        text-transform: uppercase;
        color: #666;
        padding-bottom: 10px;
    }
}
.leftSie{
    padding: 20px;
    width: 200px;
    img{
        width: 100%;
    }
}
.rightSide{
    padding-left: 20px;
    width: calc(100% - 200px);
    h4{
        font-size: 20px;
        color: #023859;
        padding-bottom: 10px;
        text-decoration: underline;        
    }
    p{
        font-size: 14px;        
        line-height: 20px;
        a{
            display: inline-block;
            font-weight: 700;
            &:hover{
                color: #00adca;
            }
        }
    }
}
.eachAppBox {
    padding: 15px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
    background: #fff;
    margin-bottom: 20px;

}